@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/site.css" />
    <title>About</title>
    <style>
        .img-container {
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a asp-action="Index">Home</a>
        <a asp-action="Apparel">Apparel</a>
        <a asp-action="About">About</a>
        <a asp-action="Partners">Partners</a>
        <a asp-action="Faq">Faq</a>
        <a asp-action="CheckoutForm">Checkout</a>
        <a asp-action="Orders">Orders</a>
    </div>
    <div class="img-container">
        <a asp-action="Index"><img src="https://geeks.bet/wp-content/uploads/2019/07/100-Thieves-Logo.png" height="100" width="100" /></a>
    </div>
    <br>
    <h1 style="text-align:left">About</h1>
    <div class="container3">
        <p>
            <a href="https://100thieves.com/">100 Thieves</a> is a premium life style brand and a gaming organization. The organization has become popular because of its
            combination of competative gaming, entertainment and apparel.<br> 100 Thieves was founded by Matthew "Nadeshot" Haag in 2017.
            He was known for being the former OpTic Gaming Call of Duty captain. After he retired from playing pro in Call of Duty, he<br>
            started to set his mind on creating his own brand and making it grow. This is exactly what 100 Thieves came to be except more.
            100 Thieves has won multiple esports major championships in<br> Call of Duty, made it several times to League of Legends and Fortnite
            World Championships. The organization has sold out on multiple apparel drops. One of their Primary sales has always<br> been their jersey
            program. They've sold out on two different jerseys's on multiple color variations. The organizations mission is to be a brand that people
            can be proud of inside or outside the <br>gaming community. 100 Thieves has multiple competators within its realm such as Cloud9, Team Liquid,
            and many more organizations but what seperates 100 Thieves from these competators is the<br> way they advertise their brand.
        </p>
    </div>
    <div class="img-container">
        <img src="https://cdn.vox-cdn.com/thumbor/2HPeQV7mhOgNEzr1d1ue8SYryEM=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/19167652/ja115__1_.jpg" height="1300" width="2000" />
    </div>
    <div class="img-container">
        <img src="https://static.invenglobal.com/upload/image/2020/01/15/o1579116603218934.jpeg" height="1300" width="2000" />
    </div>

    <hr>

    <br>
    <br>
    <br>
    <br>
    <div class="addressfooter">
        ©2020 100 THIEVES
        <br>
        6050 W Jefferson Blvd
        <br>
        Los Angeles, CA 90016
    </div>
</body>
</html>