@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <title>Partners</title>
    <style>
        .img-container {
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a asp-action="Index">Home</a>
        <a asp-action="Apparel">Apparel</a>
        <a asp-action="About">About</a>
        <a asp-action="Partners">Partners</a>
        <a asp-action="Faq">Faq</a>
        <a asp-action="CheckoutForm">Checkout</a>
        <a asp-action="Orders">Orders</a>
    </div>
    <div class="img-container">
        <a asp-action="Index"><img src="https://geeks.bet/wp-content/uploads/2019/07/100-Thieves-Logo.png" height="100" width="100" /></a>
    </div>
    <h1 style="text-align:left">Faq</h1>
    <div>
        <ul>
            <li><b>When will I be Charged? </b><br /><br />You will be charged when you place your order. All successfully placed orders will recieve an email confirmation of the charges.</li>


            <li><b>Where is my order? </b><br /><br />You will receive a shipping confirmation email with tracking information once your order has shipped. If you have not recieved an<br /> update after two consecutive weeks, please email support@100thieves.com</li>

            <li><b>What is a preorder and when will it ship?</b><br /><br />Occasionally, we will list an item for sale before the manufacturing process is finished. All presale items<br /> will be named as such and include an anticipated shipping window.</li>

            <li><b>Can I change/cancel my order?</b><br /><br />once an order has been placed, we are unable to edit the address or modify the items in the order. Please make sure all<br /> of your information is correct before placing your order.</li>
            <li><b>Where can I find my tracking?</b><br /><br />We will email you the tracking number for your package once it leaves our warehouse.</li>
            <li><b>Where do you ship?</b><br /><br />We currently ship to North America (US, Canada), Asia (South Korea, Japan, Singapore), Europe (most countries) and Oceania (Australia, New Zealand).</li>
            <li><b>What is your return policy?</b><br /><br />We do not offer returns at this time. All sales are considered final.</li>
            <li><b>What if my item is damaged, defective or incorrect?</b><br /><br />If you have received a damaged/defective or incorrect item, reach out to us on our contact form with photos of the damage/defective or the incorrect item, as well as your order number. You must notify us within 30 days of receipt. We will handle it from there.</li>
            <li><b>When can I expect my refund?</b><br /><br />It takes 2-3 weeks for us to receive and process your item(s) & then up to 5 business days to refund your purchase to your original method of payment. Again, refunds will not include shipping costs.</li>
        </ul>
    </div>


</body>

</html>