@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <style></style>
    <title>Home</title>
    <style>
        .img-container {
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a asp-action="Index">Home</a>
        <a asp-action="Apparel">Apparel</a>
        <a asp-action="About">About</a>
        <a asp-action="Partners">Partners</a>
        <a asp-action="Faq">Faq</a>
        <a asp-action="CheckoutForm">Checkout</a>
        <a asp-action="Orders">Orders</a>
    </div>
    <div class="img-container">
        <a asp-action="Index"><img src="https://geeks.bet/wp-content/uploads/2019/07/100-Thieves-Logo.png" height="100" width="100" /></a>
    </div>
    <p>Celebrating 100 Thieves' return to the LCS Playoffs and Dreamhack Anaheim Fortnite championship, we will release our 2020<br />
       Alternate Jersey this Saturday, July 4th. in support of our global community, all profits from this sale will be donated to <br />
       support coronavirus relief. The 2020 Primary and Secondary jerseys will also be re-released in a limited second run to support<br />
       these efforts.
    </p>
    <div class="img-container">
        <a asp-action="Apparel">
        <img src="https://static.invenglobal.com/upload/image/2020/01/15/i1579116109777760.jpeg" height="1300" width="2000" />
        </a>
    </div>
    <p>
        Introducing apparel collection from 100 Thieves, a contemporary approach to classic sportswear. Characterized by its<br />
        attention to detail through premium materials and construction, the capsule includes outwear, tops, bottoms, and headwear.<br />
        together, the nine items make up the largest apparel drop yet.
    </p>
    <div class="img-container">
        <a asp-action="Apparel">
        <img src="https://static.invenglobal.com/upload/image/2020/01/24/o1579909602685500.jpeg" height="1300" width="2000" />
        </a>
    </div>
</body>
</html>