@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <style></style>
    <title>Partners</title>
    <style>
        .img-container {
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a asp-action="Index">Home</a>
        <a asp-action="Apparel">Apparel</a>
        <a asp-action="About">About</a>
        <a asp-action="Partners">Partners</a>
        <a asp-action="Faq">Faq</a>
        <a asp-action="CheckoutForm">Checkout</a>
        <a asp-action="Orders">Orders</a>
    </div>
    <div class="img-container">
        <a asp-action="Index"><img src="https://geeks.bet/wp-content/uploads/2019/07/100-Thieves-Logo.png" height="100" width="100" /></a>
    </div>
    <div class="container-classlinks"></div>
    <h1 style="text-align: center;">Partners</h1>
    <a href="https://www.elgato.com/en?utm_source=100t&utm_medium=youtube&utm_campaign=GameCaptureHD">
        <img class="center" src="https://s3.amazonaws.com/gt7sp-prod/decal/12/91/39/4972048824196399112_1.png" width="50" height="50">
    </a>

    <div class="center">
        <a href="https://www.rocketmortgage.com/l2/bamv2?gclid=CjwKCAjw88v3BRBFEiwApwLevaXov_AtP6ihx9fY4-b3B1vtKN_PAQKDQqnia_w_stxgEEHEctd8ihoC7MsQAvD_BwE&qls=RBA_rocketme.0000000058&ef_id=CjwKCAjw88v3BRBFEiwApwLevaXov_AtP6ihx9fY4-b3B1vtKN_PAQKDQqnia_w_stxgEEHEctd8ihoC7MsQAvD_BwE:G:s&s_kwcid=AL!1083!3!320242520114!e!!g!!rocket%20morgage&gclsrc=aw.ds">
        <img src="https://cdn.shopify.com/s/files/1/3105/2262/files/rocket_logo_bw_540x_634fe02d-1a5d-4fa3-8dcf-b44374e13318_180x.png?v=1579046805" width="100" height="100" />
        </a>
    </div>


    <div class="center">
        <a href="https://cash.app/">
        <img src="https://cash-f.squarecdn.com/ember/18da5fb0b9fad5ce84447ed384558d199fa6f3cc/assets/images/marketing/press/logotype.png" alt="Girl in a jacket" width="100" height="100" />
        </a>
    </div>
    <p></p>
</body>
</html>